.flex {
  display: flex;
}

.fdColumn {
  flex-direction: column;
}

.flexNone {
  flex: none;
}

.jcCenter {
  justify-content: center;
}

.aiCenter {
  align-items: center;
}

.h100 {
  height: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
}

.content {
  position: relative;
  display: flex;
}

.listContent {
  position: relative;
  display: flex;
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0);
}

.defaultOper {
  display: flex;
  align-items: center;
  width: 25px;
  padding: 2px;
}

.operation {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.circle {
  width: 2px;
  height: 2px;
  margin: 1px;
  background: #bcb8b8;
  border-radius: 50%;
}

.divider {
  width: 1px;
  height: 11px;
  margin: 0 4px;
  background-color: #c5c3cb;
}

.summaryContent {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #2b2e3e;
}

.toolTip {
  max-width: fit-content !important;
}
