.page {
  display: flex;
  flex-direction: column;
}

.addGoods {
  margin: 11px 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.span {
  display: inline-block;
  width: 80px;
  margin-bottom: 12px;
  color: #2b2e3e;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}

.summary {
  margin-top: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.payment {
  color: #f2270a;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
