.virtualTel {
  margin-left: 8px;
  color: #1978ff;
  text-decoration: underline;
  cursor: pointer;
}

.virtualTelPopover {
  width: 550px;

  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  .content {
    margin-top: 12px;
  }
}
