.page {
  display: flex;
  flex-direction: column;
}

.prompt {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 4px;
  color: #2b2e3e;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  background: #deebff;
  border-radius: 2px;
}

.promptIcon {
  margin-right: 4px;
  color: #1978ff;
  font-size: 14px;
}

.inputNumber {
  width: 80px;
  margin: 0 8px;
}

.kg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
