.formNoStyle {
  margin-bottom: 0;
}

.replace {
  padding: @egenie-spacing-sm 0;
  font-weight: 500;
  font-size: @egenie-font-size-lg;
  line-height: @egenie-line-height-lg;
  text-align: center;
}

.bottomSpacing {
  margin-bottom: @egenie-spacing-sm;
}
