.eachMaterialContent {
  display: flex;
}

.materialPic {
  width: 104px;
  height: 104px;
  margin-right: 8px;
}

.materialName {
  display: flex;
  font-weight: 500;
}

.selfTag {
  // composes: tag;
  color: #ff9948;
  background-color: #fff4ec;
}

.yiLianTag {
  // composes: tag;
  color: @egenie-primary-color;
  background-color: #e6f1ff;
}
