.modal {
  .parsingHeader {
    text-align: right;
  }

  .parsingBtn {
    margin-top: @egenie-spacing-xs;
    text-align: right;
  }

  :global {
    .ant-form-item {
      margin-bottom: @egenie-spacing-md;
    }

    .ant-form-item-control-input {
      min-height: unset;
    }

    // .ant-form-item:nth-child(4) {
    //   margin-bottom: 4px;
    // }

    .ant-form {
      margin-bottom: 30px;
    }
  }
}
