.loadingModal {
  background-color: unset;
  border-radius: 4px;

  :global {
    .ant-modal-content,
    .ant-modal-body {
      padding: 0 !important;
      background-color: unset !important;
    }
  }

  .loadingContainer {
    color: #333;
    border-radius: 4px;

    .picture {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}
