.tabsProgrammeContainer {
  padding-bottom: @egenie-spacing-xs;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(221, 221, 221, 0.5);

  :global {
    .ant-tabs-nav {
      margin-bottom: @egenie-spacing-xs !important;
    }
  }

  > footer {
    padding: 0 @egenie-spacing-xs;
  }
}
