.contentWrapper {
  max-height: 600px;
  overflow: auto;
}

.clearButton {
  margin-bottom: 16px;
}

.buttonClass {
  margin-bottom: 4px;
}

.qualifyLabel {
  margin-right: 4px;
  font-weight: 500;
}

.eachConfig {
  margin-bottom: 8px;
  padding: 15px 12px;
  background-color: #f8f8f8;
}

.eachCheckbox {
  margin-bottom: 4px;
}
