.content {
  display: flex;
  flex-direction: column;
  height: 60vh;

  .mainSubStructure {
    flex: 2;
  }
}

.name {
  display: flex;
  align-items: center;

  .defaultAddress {
    display: flex;
    align-items: center;
    height: 20px;
    margin-left: 4px;
    padding: 2px 4px;
    color: rgb(246, 161, 74);
    border: 1px solid rgb(251, 202, 149);
  }
}
