.body {
  height: 500px;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  .saleOrder {
    margin-right: unset;
  }
}

.getPlaintext {
  position: absolute;
  top: 11px;
  right: -2px;
  z-index: 999;
  margin-left: 8px;
  color: #1978ff;
  font-size: 16px;
  cursor: pointer;
}

.receiver {
  position: relative;
  display: flex;
  align-items: center;
}

.serialNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cellClassRadio {
  padding: 0;
}

.warring {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 8px;
  padding: 0 8px;
  font-size: @egenie-font-size-md;
  line-height: @egenie-line-height-md;
  background-color: rgba(25, 120, 255, 0.2);
  border: 1px solid #4b6cff;
  border-radius: 4px;

  .icon {
    margin-right: 4px;
    color: #4b6cff;
    font-size: @egenie-font-size-lg;
  }
}
