.exportOrder {
  .tip {
    margin-bottom: 20px;
    padding: 5px 8px;
    color: black;
    background-color: #deebff;
    border-radius: 2px;
  }

  .tipIcon {
    margin-right: 4px;
    color: #1978ff;
  }

  .toOther {
    color: #1890ff;
    cursor: pointer;
  }

  .verificationCodeInput {
    width: 200px;
  }

  .verificationCodeBtn {
    margin: 0 2px 0 20px;
  }

  .verificationCodeTime {
    margin-left: 18px;
    padding: 9px 15px;
    background: #e2e2e5;
    border: 1px solid #c5c3cb;
    border-radius: 2px;
  }
}
