.imgWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.imgStyle {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 4px;
}

.productNo {
  margin-top: 4px;
}

.popWrapper {
  :global {
    .ant-popover-inner-content {
      padding: 8px;
    }
  }
}

.imgText {
  color: #2b2e3f;
  font-size: 12px;
  line-height: 20px;
}

.imgPopWrapper {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 0.12), 0 6px 16px 0 rgb(0 0 0 / 0.08), 0 9px 28px 8px rgb(0 0 0 / 0.05);
}
