.mb10 {
  margin-bottom: 10px;
}

.mr10 {
  margin-right: 8px;
}

.suspendGridWrapper {
  height: 300px;
}

.resultHeader {
  display: flex;
  align-items: center;

  .message {
    font-size: 20px;
  }
}
