.page {
  margin: 24px 400px;

  :global {
    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
      background-color: #e2e2e5 !important;
    }

    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
      color: #2b2e3f;
    }
  }
}
