.spin {
  height: 100%;

  :global {
    .ant-spin-nested-loading {
      height: 100%;
    }

    .ant-spin-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.materialFirstLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

.eachMaterialRadio {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #f8f8f8;
}

.emptyTip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.emptyImg {
  width: 200px;
  margin-bottom: 8px;
}

.emptyText {
  color: #999ba4;
}
