.addressWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.receiverName {
  :global {
    .ant-form-item-control-input-content {
      display: flex;

      input {
        flex: 1;
        margin-right: 8px;
      }
    }
  }
}

.iconStyle {
  margin-top: 4px;
  color: #1978ff;
  font-size: 20px;
  cursor: pointer;
}

.operationWrapper {
  display: flex;
  justify-content: space-between;
}

.custom {
  color: #1978ff;
  background: rgba(25, 120, 255, 0.1);
  border-color: #1978ff;
}

.bottomIcon {
  position: absolute;
  bottom: 30px;
  left: 0;
}

.virtualTelWrapper {
  margin-top: 6px;
}
