.operationWrapper {
  padding: 8px;

  :global {
    .ant-btn.ant-btn-primary {
      margin-left: 8px;
    }
  }
}

.modalTitle {
  height: 48px !important;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.buttonGroup {
  color: #1978ff;
}

.divider {
  height: 1.4em !important;
  margin: 0 15px;
  border-left-color: @egenie-border-color-base;
}

.children {
  margin: 16px;

  :global {
    .ant-input-disabled {
      color: #2b2e3e;
    }

    .custom {
      color: #1978ff;
      background: rgba(25, 120, 255, 0.1);
      border-color: #1978ff;
    }
  }
}
