.modalWrapper {
  :global {
    .ant-modal-body {
      padding: 16px;
    }

    .ant-checkbox-group {
      width: 100%;
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .radioWrapper {
    margin-bottom: 12px;
  }

  .addLabelBtnWrapper {
    margin-bottom: 8px;
  }

  .manualLabelWrapper {
    padding-top: 16px;
    border-top: 1px solid #f0f0f0;
  }

  .memoBackground {
    max-height: 270px;
    padding: 12px;
    overflow: auto;
    background-color: #f9f9f9;
  }

  .memoText {
    padding: 2px;
    color: #1978ff;
    font-weight: 400;
    line-height: 20px;
    background-color: rgba(25, 120, 255, 0.1);
    border-radius: 4px;
  }

  .icon {
    color: #1978ff;
    font-size: 12px;
    cursor: pointer;
  }

  .mb30 {
    margin-bottom: 16px;
  }

  .systemLabel {
    padding: 2px 6px;
    color: @egenie-input-placeholder-color;
    background-color: #f0f0f0;
    border-radius: 2px;
  }
}

.addLabelWrapper {
  display: flex;

  :global {
    .ant-input {
      width: 160px;
      margin-right: 8px;
    }

    .ant-btn-primary {
      margin-right: 8px;
    }
  }
}
