.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .prompt {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 16px;
    background: #f0f6ff;
    border: 1px solid #deebff;
    border-radius: 2px;
  }

  .icon {
    margin-right: 8px;
    color: #1978ff;
    font-size: 14px;
  }

  .normalProgrammeComponent {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .mainSubStructure {
    flex: 2;
    overflow: hidden;
  }
}
