.drawer {
  :global {
    .ant-drawer-body {
      overflow: hidden;
    }
  }
}

.drawerFooter {
  display: flex;
  justify-content: flex-end;
}

.tabs {
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}
