.body {
  display: flex;
  width: 380px;
  color: #2b2e3e;
  font-weight: 500;
  font-size: 14px;
}

.icon {
  color: #ff9948;
  font-size: 21px;
}

.describe {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-left: 6px;
  overflow: hidden;
}

.describeTitle {
  color: #2b2e3e;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.describeBody {
  display: flex;
  flex: 2;
  margin-top: 6px;
  overflow: hidden;
}

.describePrompt {
  flex: 2;
  overflow: hidden;
}

.sign {
  width: 10px;
  height: 10px;
  margin-top: 7px;
  margin-right: 6px;
  border: 2px solid #1978ff;
  border-radius: 50%;
}

.prompt {
  color: #2b2e3f;
  font-weight: 500;
  font-size: 12px;

  >span {
    color: #6d6e78;
  }
}

.buyersInformation {
  display: flex;
  margin-top: 6px;
  color: #6d6e78;
  font-weight: 400;
  font-size: 12px;

  >div {
    display: flex;
    flex: 2;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    >span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.receiverAddress {
  white-space: pre-wrap !important;
}

.virtualNo {
  color: #ff9948;
}
